.doctor-card-container {
  flex-basis: 20%;

  padding: 10px;

  @media screen and (max-width: 1400px) {
    flex-basis: 25%;
  }

  @media screen and (max-width: 1200px) {
    flex-basis: 33.3%;
  }

  @media screen and (max-width: 900px) {
    flex-basis: 50%;
  }

  @media screen and (max-width: 600px) {
    flex-basis: 100%;
  }
}

.doctor-card {
  width: 100%;
  height: 320px;
  border: 1px solid var(--neutral-light);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 20px 15px;
}
.cancel-appointment {
  background-color: red;
}

.book-appointment-btn {
  background-color: var(--primary-800);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: auto;
  transition: all ease 0.3s;

  &:hover {
    background-color: var(--primary-700);
  }

  &.cancel-appointment {
    background-color: var(--red);
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  text-align: center;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content p {
  margin-bottom: 20px;
}

.modal-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.doctorbg {
  -webkit-scrollbar {
    display: none;
  }

  .close-modal {
    display: flex;
    padding: 10px;

    .close-button {
      margin-left: auto;
      background: none;
      color: var(--neutral-darker);
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      transition: all ease 0.3s;

      &:hover {
        background: var(--neutral-light);
      }
    }

    .close-icon {
      width: 30px;
      height: 30px;
    }
  }
}

.popup-content {
  background-color: white;
  padding: 0;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;

  @media screen and (max-width: 900px) {
    width: 75%;
  }

  @media screen and (max-width: 600px) {
    width: 85%;
  }

  @media screen and (max-width: 500px) {
    width: 90%;
  }
}

.appointment-booked {
  padding: 20px;
}

.cancel-appointment-btn {
  width: 100%;
  padding: 8px 16px;
  background-color: var(--red);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancel-appointment-btn:hover {
  background-color: var(--darkRed);
}

.bookedInfo {
  color: black;
  span {
    font-weight: 400;
    color: var(--neutral-darker);
  }
}
