.find-doc-img-wrapper {
  width: 410px;
  height: 35vh;
  .find-doc-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.search-bar {
  position: relative;

  margin: 20px 0;

  .search-doctor-input {
    padding: 8px 40px 8px 20px;
    border: 1px solid var(--neutral-dark);
    border-radius: 30px;
    height: 45px;

    &::placeholder {
      color: var(--neutral-dark);
    }
  }

  .search-icon {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--neutral-dark);
  }
}

.doctor-search-box {
  position: relative;
  max-width: 650px;
}

.search-doctor-input-results {
  position: absolute;
  border-radius: 15px;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 5;
  height: 200px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid var(--neutral-dark);
  background-color: white;
  padding-bottom: 35px;

  .results-content {
    overflow-y: auto;
    height: 100%;
  }
}

.search-doctor-result-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 12px;
  column-gap: 14px;
  cursor: pointer;
  text-align: left;
  &:last-child {
    border: none;
  }
}

.search-doctor-result-item:hover {
  background-color: #f0f0f5;
}

.search-doctor-result-item .speciality {
  border: 1px solid #f0f0f5;
  border-radius: 20px;
  padding: 5px 10px;
  line-height: 1;
  background-color: var(--primary-300);
  color: var(--text);
}

.search-doctor-result-item .description {
  font-size: 14px;
  color: var(--neutral-dark);
}

// .home-search-container {
//   /* width: 712px; */
//   padding: 20px 0;
//   display: flex;
//   align-items: center;
// }

// .finddoctor {
//   /* height: 0 auto; */
//   overflow: hidden;
// }
// .finddoctor .mainimg {
//   width: 312px;
//   height: 312px;
//   object-fit: cover;
//   object-position: center;
//   border-radius: 5px;
// }
