.user-welcome-btn {
  background: none;
  color: white;
  border: none;
  display: flex;
  align-items: center;

  .notifications-count {
    background-color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
    margin-left: 10px;
  }
}

.popup-content-wrapper {
  .link {
    color: var(--primary-800);
  }
}

.user-menu-popup-content.popup-content[role="tooltip"] {
  width: auto;
  padding: 0;
}

.notification {
  padding: 10px;
  border-bottom: 1px solid var(--neutral-light);

  span {
    font-weight: 600;
    color: black;
  }

  &:last-child {
    border: none;
  }
}

.userProfile-links {
  display: flex;
  flex-direction: column;

  .link {
    padding: 10px;
    transition: all ease 0.3s;

    &:hover {
      background-color: var(--primary-50);
    }
  }
}
